.main-container,.main-container-inner, .header,.social-links,.social-links-inner,.content,.menu,.flex-row {
    border-style: solid;
}

.main-container{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.main-container-inner{
    height: 60%;
    width: 100vw;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #914c5c;

}

.header,
.content {
  flex: 5 0 50%;
}

.social-links,
.menu {
  flex: 1 0 300px;
}
.social-links-inner{
    display: flex;
    justify-content: center;
}
.social-icon{
    font-size: 4rem;
    color: #be8597;
}

h1{
    font-size: 10rem;
    margin: 0 0 0 0;
}
