.main-container,.main-container-inner, .header,.social-links,.social-links-inner,.content,.menu,.flex-row {
    border-style: solid;
}

.main-container{
    font-size: 2rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container-inner{
    min-height: 60%;
    width: 100vw;
    max-width: 1280px;
    display: grid;
    background: #914c5c;
    grid-template-areas:
        "header socials"
        "article menu";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;

}

.header {
    grid-area: header;
}

.content{
    text-align: left;
    grid-area: article;
}


.social-links{
    grid-area: socials;
}

.menu {
    grid-area: menu;
}

.social-icon{
    font-size: 4rem;
    color: #be8597;
}
.menu button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    border:none;
    opacity:.6;
    border-bottom: 2px solid transparent;
    transition: ease border-bottom 250ms;
       
}

.menu button.active{
    
    border-bottom: 2px solid black;
    opacity: 1;
}

h1{
    font-size: 10rem;
    margin: 0 0 0 0;
}

