

.main-container{
    font-size: 2rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container-inner{
    height: 80vh;
    width: 100vw;
    max-width: 1280px;
    display: grid;
    background: #914c5c;
    border-radius: 2.5rem;
    
    grid-template-areas:
        "header socials"
        "article menu";
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 1fr 3fr;

}

.header {
    grid-area: header;
    margin:auto;
}
h1{
    font-size: 10rem;
    margin: 0 0 0 0;
}


.content{
    overflow-y:auto;
    grid-area: article;
    text-align: left;
    padding: 1rem;
    scrollbar-gutter: stable both-edges;
    height: 100%;
    scrollbar-color: #be8597 #914c5c;
}

.content button{
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    margin: 1rem;
    padding: 3px;
    border: solid;
    border-color:#FFCBC4 ;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.content a{
    color: inherit
}

.social-links{
    grid-area: socials;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.social-icon{
    font-size: 4rem;
    color: #be8597;
}


.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu button {
    font-size: 1.6rem;
    color: inherit;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    border:none;
    opacity:.6;
    border-bottom: 2px solid transparent;
    transition: ease border-bottom 250ms;
    max-height: fit-content;
    max-width: fit-content;
    flex: 0 0 3rem;
}
.menu button.active{
    border-bottom: 2px solid #d9a291;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .main-container{
        min-height: 100vh;
        max-height: 150vh;
    }
    .main-container-inner{
        height: 98%;
        width: 98vw;
        max-width: 1280px;
        display: grid;
        border-radius: 2.5rem;
        grid-template-rows: 2fr 6fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "article" 
            "menu"
            "socials";
    }

    h1{
        font-size: 6rem;
        margin: 0 0 0 0;
    }
    .menu{
        flex-direction: row;
        justify-content: space-around;
        overflow: scroll;
    }

    .content{
        font-size: 1.6rem;
    }
} 

