@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.App {
  text-align: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
  margin: 0
}
