* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #9F5465;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: #F2F8F2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bree Serif', serif;
  color: #FFCBC4
}

